#contenedor-sombras-layout-main {
    position: relative;
    height: 415px;
}

#contenedor-sombras-top-interna {
    position: relative;
    height: 30px;
}

#contenedor-sombras-encabezado {
    position: relative;
    height: 124px;
}

#contenedor-sombras-pie {
    position: relative;
    height: 56px;
    clear:both;
    /*El z-index es para que las noticias y los banners se animen por debajo del footer*/
    z-index: 0;
}

.sombra-izquierda {
    background: url('sombra-i.png') repeat-y scroll 0 0 transparent;
    height: 100%;
    left: -13px;
    position: absolute;
    top: 0;
    width: 13px;
}

.sombra-derecha {
    background: url('sombra-d.png') repeat-y scroll 0 0 transparent;
    height: 100%;
    right: -13px;
    position: absolute;
    top: 0;
    width: 13px;
}